{% extends "shop/base.html" %}
<!-- Этот шаблон используется для вывода списка групп и пользователей -->

{% block title %}
    Список групп
{% endblock %}

{% block body %}
    <h1>Group:</h1>
    <div>
        <ol>
            <!-- Перебор всех групп -->
            {% for group in groups %}
                <li>
                    <div>{{ group.name }}</div>
                    <!-- Перебор всех прав доступа для каждой группы -->
                    <ol>
                        {% for permission in group.permissions.all %}
                            <li>
                                {{ permission.name }}
                                (<code>{{ permission.codename }}</code>) <!-- Вывод кода права доступа -->
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% empty %}
                <p>Группы не найдены.</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
